# Telegram Bot Token (от BotFather)
BOT_TOKEN=123456789:ABCDefGHIjklmnoPQRstuvWXYZ

# Для парсера (опционально)
TG_API_ID=30705626
TG_API_HASH=6fdbbad821a519f7336e3aecb1093838
TG_PHONE=+34604288463

# Ограничение доступа к рассылке (user_id владельца, можно через запятую)
OWNER_ID=123456789

# Таймзона расписания рассылки
BROADCAST_TZ=Europe/Madrid
